
<h1>Order details</h1>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Item</th>
      <th scope="col">amount</th>
      <th scope="col">price</th>
      <th scope="col">comment</th>
    </tr>
  </thead>
<% @order_informations.each do |ordermember| %>
  <tbody>
      <tr>
        <td><%= ordermember.user.name %></td>
        <td><%= ordermember.item_name %></td>
        <td><%= ordermember.amount %></td>
        <td><%= ordermember.item_price %></td>
        <td><%= ordermember.comment %></td>
      </tr>
<% end %>
  </tbody>
</table>

<%= link_to "#{@order.invited_members.count} friends invited, click to view", order_invited_path(@order) %>
<br>
<%= link_to "#{@order.order_informations.select(:user_id).distinct.count} friends joined, click to view", order_joined_path(@order) %>

<% if @order.waiting? %>
  <h2>Add item:</h2>
  <%= form_with scope: "order_informations", url: order_add_path(@order), method: :post, local: true, class: "form-inline" do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :order_id, value: @order.id %>
      <%= f.text_field :item_name, class: "form-control mb-2 mr-sm-2", placeholder: "item name" %>
      <%= f.text_field :amount, class: "form-control mb-2 mr-sm-2", placeholder: "amount" %>
      <%= f.text_field :item_price, class: "form-control mb-2 mr-sm-2", placeholder: "item price" %>
      <%= f.text_field :comment, class: "form-control mb-2 mr-sm-2", placeholder: "comment" %>

    <div class="actions">
      <%= f.submit "add", class:"btn btn-primary mb-2"%>
    </div>
  <% end %>
<% end %>
